@import "tailwindcss";


@theme {
  --font-urbanist : 'Urbanist', sans-serif;

  --color-primary : #3B82F6;
  --color-darken-primary: #1e40af;
  --color-secondary: #10B981;
  --color-danger: #F59E0B;
  --color-errors: #EF4444;
  --color-background: #F9FAFB	;
  --color-text: #111827;
  --color-border:#e5e5e5;
}

@layer base {
  body {
    @apply bg-background text-text font-urbanist;
  }
  button {
    @apply cursor-pointer;
  }
}